<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1894.6">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; color: #000000; -webkit-text-stroke: #000000}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; color: #000000; -webkit-text-stroke: #000000; min-height: 14.0px}
    span.s1 {font-kerning: none}
  </style>
</head>
<body>
<p class="p1"><span class="s1">Hello,<br>
<br>
To ensure continued cloud security we are implementing a 6-month automatic rotation of all AWS IAM User Access Keys.<br>
<br>
<p class="p1"><span class="s1">AWS IAM Access Key in Violation:</span><br>
<p class="p1"><span class="s1">------------------------------------------------------<br>
<p class="p1"><span class="s1">AWS Partition: {{partition_name}}</span></p>
<p class="p1"><span class="s1">AWS Account ID: {{account_id}}</span></p>
<p class="p1"><span class="s1">AWS Account Name: {{account_name}}</span></p>
<p class="p1"><span class="s1">Time of Detection: {{timestamp}}</span></p>
<br>
<p class="p1"><span class="s1">Action:
<br>{{actions}}</span></p>
<p class="p1"><span class="s1">Rotation Period: {{rotation_period}}</span></p>
<p class="p1"><span class="s1">------------------------------------------------------<br>
<p class="p1"><span class="s1"><br>
<br>

What this means for you:<br>
You will need to update your applications within 30 days with the new Access Key pair. These can be found in AWS Secrets Manager in a secret accessible by your application’s AWS IAM User only. You will have a grace period of 30 days after rotation before old Access Keys are disabled. There will be another 10-day grace period before old Access Keys are deleted. Until they are disabled, old Access Keys can be used to programmatically retrieve the new Access Keys from AWS Secrets Manager.<br>
<br>

Please reach out to admin-email@company.com if you have any questions!<br>
<br>
Sincerely,<br>
<br>
DevOps Team</span></p>
</body>
</html>